.container {
    display: flex;
    width: 640px;
    height: 640px;
    flex-wrap: wrap;
    align-items: center;
}

.row {
    display: flex;
    min-width: 960px;
    height: 10px;
    align-items: center;
    justify-content: center;
}

.square {
    border: 1px solid red;
    margin: 0;
}

.etched {
    background-color: black;
}